# LaTeX Builds
00_Doku/02_TeX/03_main.aux
00_Doku/02_TeX/03_main.fdb_latexmk
00_Doku/02_TeX/03_main.fls
00_Doku/02_TeX/03_main.lof
00_Doku/02_TeX/03_main.log
00_Doku/02_TeX/03_main.lot
00_Doku/02_TeX/03_main.out
00_Doku/02_TeX/03_main.pdf
00_Doku/02_TeX/03_main.synctex.gz
00_Doku/02_TeX/03_main.toc
